* {
    background-color:#CCFFCC;
    font-family: Roboto
}

img {
    padding: 1em;
}

header{
    position: relative;
    text-align:left;
}

h1 {
    text-align: center;
}

.picture_info{
    width:350px;
}
.justify-content {
    display:flex;
    justify-content: space-around;
}

.flex-direction {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    padding:20px;
}

.order {
    display:flex;

}

.picture_order {
    order: -1;
}

.align-self {
    display:flex;
}

.picture_align-self {
    align-self: center;
}

.flex-shrink {
    display:flex;
}

.picture_flex-shrink {
    flex-shrink: 1;
}
.flex-grow {
    display: flex;
}

.picture_flex-grow {
    flex-grow: 1;
}

.flex-basis{
    display:flex;

}

.picture_flex-basis {
    flex-basis: 50%;
}