header{
    background-color: #FF6666;
}

.header {
    display:flex;
    color:black;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

.main_pictures {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}

.main_lorem {
    font-family: 'Roboto', sans-serif;
}

.footer_picture {
    display:flex;

    flex-direction:row-reverse;
}

footer {
    background-color: #FF6666;
}