@media print {
	@page {
        margin: 1cm;
    }


    .description__img {
        display:none;
    }

    .advertisement_img{
        display: none;
    }
    

    .centers {
		padding: 30px 0;
		page-break-before: always;
	}

    .advertisement{
        page-break-before: always ;
    }

    .description__title-h1{
        margin-bottom: 2cm;
    }

    .description__paragraph{
        margin-bottom: 1.5cm;
    }

    #header{
        display:flex;
        width: 100%;

        justify-content: space-between;
        margin: 0;
        margin-top: 1cm;
    }
    .header__clock{
        margin-bottom: 10px;
    }

    .header__starred{
        margin-bottom: 10px;
    }

    .header__number{
        align-self: center;
    }

    .header{
        display:none;
    }

    .delivery{
        display: none;
    }
}