* {
    margin: 0;
    padding: 0;
  }
  body{
    background-color:#F0F2F0	;
  }
  .container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }
  .header {
    margin: 15px;
    padding: 15px;
  }
  .elem h2 {
    text-align: center;
    margin: 1em 0;
    padding: .6em 0;
  }
  form {
    border-style: none;
    border-bottom-style: outset;
    border-bottom-width: thin;
    padding: 5px;
    font-size: 20px;
  }
  .containerr {
    display: grid;
    width: 750px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 10px;
  }
  #rectangle{
      width:200px;
      height:100px;
      background: #C6C1C1;
  }
  .header {
    width:500px;
    height:50px;
  }
  
  .template {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 310px);
    grid-template-rows: repeat(2, 310px);
  }
  .areas {
    grid-template-areas: "main main main"; /*расстановка по сетке*/
  }
  .gap {
    grid-gap: 30px 30px; /*промежуток между строками и столбцами*/
  }
  .item {
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
  }
  .item img{
    max-height: 200px;
  }
  .cont {
    grid-gap: 10px 10px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
  }
  .flow {
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-auto-flow: row;
  }
  .flow {
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(2, 250px);
  }
  .content-1 {
      grid-column: 1;
      grid-row: 1 / 3;
  }
  .content-2 {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .content-3 {
    grid-column: 3;
    grid-row: 1 / 3;
  }
  .content-4 {
      grid-column: 4;
      grid-row: 1 / 3;
  }
  .flow img {
    max-width: 250px;
  }
  
  .grid {
    display: grid;
    max-width: 800px;
    margin: auto; /* центрирование контейнера на странице */
    grid-gap: 10px;
    grid-template-areas:
      "my-header my-header my-header"
      "my-nav my-main my-aside"
      "my-nav my-section my-section"
      "my-footer my-footer my-footer";
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* размер шрифта */
    color: #000; /* цвет текста */
    border-radius: 5px; /* скругление углов */
    background-color: #C6C1C1; /* цвет фона */
    border: 1px solid black; /* граница блока */
    padding: 10px; /* внутренние отступы */
  
  }
  .l-header {
      grid-area: my-header;
  }
  .l-nav {
      grid-area: my-nav;
  }
  .l-main {
      grid-area: my-main;
  }
  .l-aside {
      grid-area: my-aside;
  }
  .l-section {
      grid-area: my-section;
  }
  .l-footer {
      grid-area: my-footer;
  }













form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
}
form input {
    background: #fff;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
}
form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
    border-radius: 5px;
}
form button:hover {
    background: gold;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}


